@import "../../scss/global";

.input {
  position: relative;

  &__ {
    &label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 1px;
      transition: 0.2s;
      z-index: -1;
    }
  }

  & input {
    border: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 5px solid #fff;
    color: #fff;
    font-size: 24px;
    padding: 10px 0;
    outline: none;
  }

  &_focused {
    & .input__label {
      color: $secondary;
      font-weight: normal;
      top: -20px;
      font-size: 23px;
    }
  }
}

// tablet
@media (max-width: 1024px) {
  .input {
    &__ {
      &label {
        font-size: 24px;
      }
    }

    & input {
      font-size: 24px;
      border-bottom-width: 3px;
      padding: 6px 0;
    }
  }
}

// mobile
@media (max-width: 414px) {
}
