.buy-ticket {
  width: 1240px;
  margin: 214px auto 0;

  & p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.8px;
    margin: 70px 0 36px;
  }
}


// tablet
@media (max-width: 1024px) {
  .buy-ticket {
    width: 800px;

    & p {
      font-size: 24px;
    }
  }
}

// mobile
@media (max-width: 414px) {
}