@import "../../scss/global";

.countdown-timer {
  display: inline-flex;
  width: 560px;
  height: 130px;
  justify-content: center;
  align-items: center;

  &__ {
    &block {
      width: 90px;
      height: 130px;
    }

    &number {
      box-sizing: border-box;
      width: 90px;
      height: 90px;
      border-radius: 14px;
      background-color: $secondary;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 44px;
      letter-spacing: 1px;
    }

    &text {
      box-sizing: border-box;
      border-radius: 14px;
      border: 1px solid $secondary;
      border-top-color: transparent;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-weight: bold;
      padding-bottom: 10px;
      text-transform: uppercase;
      position: relative;
      top: -20px;
      letter-spacing: 1px;
    }

    &connector {
      width: 90px;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 56px;
    }
  }
}


// tablet
@media (max-width:1024px) {
  .countdown-timer {
    width: 360px;
    
    &__ {
      &block {
        width: 60px;
        height: 90px;
      }
      
      &number {
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        font-size: 28px;
      }

      &text {
        font-size: 11px;
        top: -30px;
      }

      &connector {
        height: 90px;
        font-size: 42px;
      }
    }
  }
}

// mobile
@media (max-width:414px)  {

}