@import "../../scss/global";

$cardWidth: 692px;
$cardHeight: 640px;
$cardWidthTablet: 356px;
$cardHeightTablet: 340px;

$winnerCardWidth: 490px;
$winnerCardHeight: 490px;

$winnerCardWidthTablet: 256px;
$winnerCardHeightTablet: 256px;

.card {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: $cardWidth + 84px;
  height: $cardHeight + 84px;

  &__ {
    &wrapper {
      border-radius: 52px;
      border: 5px solid #fff;
      width: $cardWidth;
      height: $cardHeight;
      box-sizing: border-box;
      position: relative;
    }

    &title {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 270px;
      padding: 45px;
      box-sizing: border-box;

      &-text {
        margin-left: 50%;
        width: 50%;
        font-size: 80px;
        color: $secondary;
        font-weight: bold;
        text-align: center;
      }
    }

    &image {
      position: absolute;
      width: 460px;
      top: -50px;
      left: -94px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        width: 330px;
        height: 330px;
        border-radius: 50%;
        background-color: $secondary;
        position: absolute;
        top: calc(50% - 165px);
        left: calc(50% - 156px);
        z-index: -2;
      }

      &::after {
        content: "";
        width: 330px;
        height: 330px;
        position: absolute;
        background-image: url(../../assets/images/card-figure.svg);
        background-repeat: no-repeat;
        background-position: center center;
        top: calc(50% - 158px);
        left: calc(50% - 222px);
        z-index: -1;
      }

      & > img {
        max-width: 457px;
        max-height: 320px;
      }
    }

    &content {
      padding: 0 40px 56px;
    }
  }

  &_winner {
    width: $winnerCardWidth;
    height: $winnerCardHeight;

    & .card__ {
      &wrapper {
        width: $winnerCardWidth;
        height: $winnerCardHeight;
      }

      &title {
        &-text {
          margin-left: calc(50% + 35px);
          width: 100%;
          font-size: 48px;
          line-height: 1.5;
          letter-spacing: 0.96px;
          text-align: start;
        }
      }

      &image {
        width: 208px;
        top: -4px;
        left: -4px;

        &::before {
          display: none;
        }

        &::after {
          background-image: url(../../assets/images/winner-card-background.svg);
          top: -60px;
          left: -44px;
        }
      }
    }
  }
}

// tablet
@media (max-width: 1024px) {
  .card {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: $cardWidthTablet + 84px;
    height: $cardHeightTablet + 84px;

    &__ {
      &wrapper {
        width: $cardWidthTablet;
        height: $cardHeightTablet;
        border-width: 2px;
      }

      &title {
        padding: 30px 30px 52px;
        height: auto;

        &-text {
          font-size: 32px;
        }
      }

      &image {
        width: 220px;
        left: -52px;
        // top: -50px;
        // left: -94px;

        &::before {
          width: 170px;
          height: 170px;
          top: calc(50% - 80px);
          left: calc(50% - 80px);
        }

        &::after {
          background-size: contain;
          width: 134px;
          height: 160px;
          background-size: contain;
          top: calc(50% - 70px);
          left: calc(50% - 90px);
        }

        & > img {
          max-width: 220px;
          max-height: 152px;
        }
      }

      &content {
        padding: 0 20px;
      }
    }

    &_winner {
      width: $winnerCardWidthTablet;
      height: $winnerCardHeightTablet;
  
      & .card__ {
        &wrapper {
          width: $winnerCardWidthTablet;
          height: $winnerCardHeightTablet;
          border-radius: 30px;
        }
  
        &title {
          padding: 16px 30px 46px;

          &-text {
            font-size: 24px;
          }
        }
  
        &image {
          max-width: 110px;

          & img {
            width: 100%;
          }
  
          &::after {
            top: -28px;
            left: -12px;
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: 414px) {
}
