.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;

  &_opened {
    transition: opacity 0.3s;
    visibility: visible;
    opacity: 1;
  }

  // mask
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
  }

  &-window {
    width: 1520px;
    max-height: calc(100vh - 200px);
    min-height: 100px;
    z-index: 1;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(50px);
    position: relative;

    // &__content {}


    &__ {
      &close-button {
        cursor: pointer;
        position: fixed;
        right: 24px;
        top: 24px;
      }
    }
  }
}


// tablet
@media (max-width:1024px) {
  .modal {

  
    &_opened {
     
    }
  
    // mask
    &::after {
     
    }
  
    &-window {
      width: calc(100vw - 200px);
  
      // &__content {}
  
  
      &__ {
        &close-button {
          width: 27px;
          height: 27px;
          right: 54px;

          & > img {
            width: 100%;
          }
        }
      }
    }
  }
}

// mobile
@media (max-width:414px)  {

}