@import "../../scss/global";

.info-form {
  width: 1000px;
  margin: 100px auto 0;

  & > * {
    margin-bottom: 40px;
  }

  & pre {
    margin: 4px 0;
    color: $secondary;
    font-size: 14px;

    &::before {
      content: "• ";
    }
  }
}