.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  & > img {
    position: absolute;
  }

  &__ {
    // &left1 {}

    // &left2 {}

    &left3 {
      top: 400px;
    }

    // &left4 {}

    &leftLineBlack {
      top: 690px;
    }

    &leftLineBlackSecondary {
      left: 130px;
    }

    &leftLineWhite {
      left: 306px;
    }

    &house {
      top: 230px;
    }

    &right1 {
      right: 0;
      top: 456px;
    }

    &right2 {
      right: 0;
      top: 276px;
    }

    &rightLineWhite {
      right: -20px;
    }

    &tickets {
      top: 160px;
      right: 0;
    }

    &lottery {
      right: 12px;
      top: 550px;
    }
  }
}

// tablet
@media (max-width: 1024px) {
  .background {
    &__ {
      &left1 {
        width: 350px;
      }

      &left2 {
        width: 364px;
      }

      &left3 {
        width: 274px;
        top: 360px;
      }

      // &left4 {}

      &leftLineBlack {
        width: 200px;
        top: 512px;
      }

      &leftLineBlackSecondary {
      }

      &leftLineWhite {
        width: 200px;
        left: 200px;
      }

      &house {
        width: 328px;
      }

      &right1 {
      }

      &right2 {
      }

      &rightLineWhite {
      }

      &tickets {
      }

      &lottery {
      }
    }
  }
}

// mobile
@media (max-width: 414px) {
}
