.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  & > img {
    position: absolute;
  }

  &__ {
    // &left1 {}

    // &left2 {}

    &left3 {
      top: 400px;
    }

    // &left4 {}

    &leftLineBlack {
      top: 690px;
    }

    &leftLineBlackSecondary {
      left: 130px;
    }

    &leftLineWhite {
      left: 306px;
    }

    &house {
      top: 230px;
    }

    &right1 {
      right: 0;
      top: 456px;
    }

    &right2 {
      right: 0;
      top: 276px;
    }

    &rightLineWhite {
      right: 16px;
    }

    &tickets {
      top: 160px;
      right: 0;
    }

    &lottery {
      right: 12px;
      top: 550px;
    }
  }
}
